#ves-wrapper #wrapper {
       background: transparent !important;
}


.page {
       min-height: 100vh;
}

.no-margin-top {
       margin-top: 0px;
}

.main-container {
       margin-top: 15px;
}

.main {
       margin: 0 auto;
       min-height: 320px;
       padding: 0px;
       text-align: left;
}


.col1-layout .col-main {
       float: none;
       width: auto;
}


/* @media (min-width: 1280px) {
       .container {
              padding-right: 0;
              padding-left: 0;
       }
} */

body,
.container,
bg-header-con,
.ma-menu .container {
       background: #F0F0F0;
}


.container {
       background: #333;
       width: 1230px;
       padding-right: 30px;
       padding-left: 30px;
       margin-right: auto;
       margin-left: auto;
}

/* @media (min-width: 1200px) {
       .container {
              width: 1230px;
       }
}

@media (min-width: 992px) {
       .container {
              width: 970px;
       }
}

@media (min-width: 768px) {
       .container {
              width: 750px;
       } 
}

/* .container {
       padding-right: 30px;
       padding-left: 30px;
       margin-right: auto;
       margin-left: auto;
} */

/* @media (min-width: 768px) and (max-width: 1279px) {
       .container {
              padding-left: 0px;
              padding-right: 0px;
       }
}

@media (min-width: 1200px) and (max-width: 1279px) {
       .container {
              width: 1230px;
       }
}

@media (min-width: 1025px) and (max-width: 1279px) {
       .container {
              width: 1120px;
       }
} */


.main .container .container-inner {
       padding: 10px 0;
       padding-top: 0;
}

.main .container-inner {
       padding: 10px 0;
}

.product-view .kasitoo {
       display: block;
       width: 100%;
       margin-bottom: 0px;
}

.product-view .kasitoo {
       border-radius: 8px;
}

.kasitoo {
       display: table;
       font-family: 'Roboto', sans-serif !important;
       background: rgba(69, 69, 69, 0.594) !important;
}

.product-view {
       background: white;
       margin-bottom: 15px;
}

.kasitoo .product-essential {
       padding: 16px 16px 25px 16px;
       margin-top: 0px;
       background-color: rgba(69, 69, 69, 0.594);
}

.product-essential {
       display: flex;
       border-radius: 8px;
       color: white;
       font-size: 13px;
       font-weight: 400;
}

.product-essential {
       padding: 27px;
       padding-top: 45px;
       margin-top: -32px;
}




.product-essential-media {
       width: 484px;
}

.product-view-image {
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-align-items: flex-start;
       align-items: flex-start;
       -webkit-justify-content: center;
       justify-content: center;
}

.product-view-image>.product-view-image-product>img {
       height: 400px;
       width: 400px;
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       padding: 6px
}



.product-view-image>.product-view-image-product>img {
       max-height: 392px;
       max-width: 100%;
       height: auto;
       width: auto;
}


.fhs-p-img {
       display: block;
}


.product-view .product-img-box .product-image-zoom,
.fhs-p-img {
       width: 285px;
}

.product_view_add_box {
       margin-top: 24px;
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       -webkit-align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
}

.product_view_add_box button:first-of-type {
       margin-left: 0;
       color: #C92127;
       background: #fff;
       border: 2px solid #C92127;
}

.product_view_add_box button {
       cursor: pointer;
       user-select: none;
       height: 44px;
       margin-left: 10px;
       width: 220px;
       font-weight: 700;
       font-size: 1.1em;
       border-radius: 8px;
       -moz-border-radius: 8px;
       -webkit-border-radius: 8px;
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       align-items: center;
       -webkit-align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       color: #fff;
       background: #C92127;
       border: none;
}

.product_view_add_box>.btn-cart-to-cart>span {
       padding-left: 10px;
}

.fhs_icon_cart {
       background: url(https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/icon-cart.svg);
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
       height: 24px;
       width: 22px;
}

.product-essential-detail {
       width: 622.5px;
       padding-left: 36px;
}

.kasitoo h1 {
       font-size: 2.0em;
       font-weight: 600;
       color: #333;
       font-family: 'Nunito Sans', 'sans-serif';
       line-height: 1.5em;
       overflow-wrap: break-word;
       padding-bottom: 16px;
}

.product-view-sa {
       padding-bottom: 8px;
}

.product-view-sa-supplier {
       display: inline-block;
       width: 60%;
       padding-right: 15px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
}

.product-view-sa-supplier span:first-child {
       padding-right: 5px;
       font-size: 15px;

}

.product-view-sa-supplier span:nth-of-type(2) {
       font-size: 15px;
       font-weight: 600;
}


.product-view-sa-supplier a {
       color: #79b6f7d2;
       font-weight: 600;
}

a {
       color: #646464;
}

a {
       color: #adadad;
       text-decoration: none;
       transition: all 300ms ease-in 0s;
}

a {
       color: #7abaf1;
       text-decoration: none;
}

a {
       background: transparent;
}

a:-webkit-any-link {
       color: -webkit-link;
       cursor: pointer;
       text-decoration: underline;
}



.product-view-sa-author {
       display: inline-block;
       width: 39%;
       padding-left: 15px;
       /* border-left: 1px solid #c1c1c1; */
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
}

.product-view-sa-author span:first-child {
       font-size: 15px;
       padding-right: 5px;
}

.product-view-sa-author span:nth-of-type(2) {
       font-size: 15px;
       font-weight: 600;
}

.kasitoo .price-block {
       padding: 8px 0 16px 0;
       border-bottom: 0px;
       margin-bottom: 0px;
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: space-between;
       justify-content: space-between;
      
}

.kasitoo .price-block {
       padding: 0px;
       color: #575757;
       margin-bottom: 15px;
       
}

.price-block {
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       align-items: center;
       -webkit-align-items: center;
       -webkit-justify-content: flex-start;
       justify-content: flex-start;
       
}

.desktop_only {
       display: flex;
}

.col-md-12 {
       width: 100%;
       float: left;
       position: relative;
       min-height: 1px;
       padding-right: 15px;
       padding-left: 15px;
     
}

#catalog-product-details-price {
       background-color: rgba(69, 69, 69, 0.594);
       padding-right: 8px;
}

.kasitoo .price-block-left div {
       background-color: rgba(69, 69, 69, 0.594) !important;
}

.price-box {
       display: flex;
       display: -webkit-box;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -webkit-box-align: center;
       -webkit-align-items: center;
       align-items: center;
}

.kasitoo .price-block {
       padding: 8px 0 16px 0;
       border-bottom: 0px;
       margin-bottom: 0px;
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -ms-flex-pack: center;
       -webkit-box-align: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       align-items: center;
       -webkit-justify-content: space-between;
       justify-content: space-between;
   }

.kasitoo .price-box {
       justify-content: flex-start;
       font-size: 15px;
       font-family: sans-serif;
}

#catalog-product-details-price>.price-box>p {
       display: inline-block;
}

.kasitoo .price-block .price-block-left .special-price {
       padding-left: 0px;
}

.kasitoo .special-price {
       background-color: transparent !important;
}

.special-price .price-label {
       font-size: 13px;
       font-weight: normal;
       white-space: nowrap;
       color: #cd5033;
       display: none;
       
}

.special-price .price {
       min-height: 25px;
}

.special-price {
       margin: 0;
       padding: 0;
   }

.kasitoo .special-price .price {
       font-size: 32px;
       line-height: 32px;
       color: #C92127;
       font-family: 'Roboto', sans-serif !important;
       font-weight: 700;
}

#catalog-product-details-price>.price-box>p {
       display: inline-block;
}

.price-box>.old-price {
       color: #bfbfbf;
}

p .old-price {
       display: inline;
       color: white;
}

.old-price {
       margin: 0;
}


p {
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
}

.price-box>.old-price>.price,
.price-box>.old-price>.price>span {
       margin-left: 8px;
       color: #0D0E0F;
}

.kasitoo .price {
       color: #575757;
       font-size: 36px;
       font-weight: bold;
}

.kasitoo .old-price .price {
       font-size: 1em;
       font-weight: 300;
}

.old-price .price {
       padding-left: 5px;
       text-decoration: line-through;
       color: #888888;
       font-size: 14px;
}



.price-box>.old-price>.discount-percent {
       margin-left: 8px;
       padding: 4px;
       border-radius: 4px;
       -webkit-border-radius: 4px;
       background-color: #C92127;
       color: #fff;
       font-size: 1em;
       font-weight: 600;
}

.clear {
       clear: both;
}

#expected_delivery {
       padding-top: 8px;
}

#expected_delivery>div {
       padding-bottom: 8px;
       display: flex;
       display: -webkit-box;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -webkit-box-align: center;
       font-size: 1em;
}

#expected_delivery>div>div:first-of-type {
       max-width: 200px;
       min-width: 150px;
}

#expected_delivery>div>div:nth-of-type(2) {
       min-width: 200px;
       max-width: 150px;
}



#expected_delivery>div>div:nth-of-type(2)>div:first-of-type {
       display: flex;
       display: -webkit-box;
       display: -webkit-flex;
       flex-direction: row;
       -webkit-box-pack: center;
       -webkit-box-align: center;
       cursor: pointer;
       user-select: none;
}

#expected_delivery>div>div:nth-of-type(2)>div:first-of-type>div:first-of-type {
       display: flex;
       max-width: calc(100% - 100px);
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
}


#catalog-product-details-discount {
       width: 100%;
       padding: 8px 0;
}

.product-view-quantity-box {
       display: flex;
       display: -webkit-box;
       display: -webkit-flex;
       flex-direction: row;
       align-items: center;
       -webkit-align-items: center;
       text-align: center;
}

.product-view-quantity-box label {
       font-size: 1.5em;
       font-weight: 650;
       padding: 0 8px 0 0;
       margin-bottom: 0;
       text-align: left;
       max-width: 200px;
       min-width: 150px;
}

label {
       padding: 4px;
       color: #555555;
       display: inline-block;
       margin-bottom: 5px;
       font-weight: bold;
}

.product-view-quantity-box-block {
       display: flex;
       display: -webkit-box;
       display: -ms-flexbox;
       display: -webkit-flex;
       flex-direction: row;
       align-items: center;
       -webkit-align-items: center;
       -webkit-justify-content: flex-start;
       justify-content: flex-start;
       border: 1px solid #c1c1c1;
       border-radius: 4px;
       height: 32px;
}

.product-view-quantity-box-block a .btn-subtract-qty {
       padding-top: 0px;
       padding-right: 8px;
       padding-bottom: 0px;
       padding-left: 16px;
}


.product-view-quantity-box-block a {
       display: flex;
       display: -webkit-box;
       display: -webkit-flex;
       flex-direction: row;
       align-items: center;
       -webkit-align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       padding: 15px;
       cursor: pointer;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       user-select: none;
       height: 100%;
       transition: all 0.3s;
}

.product-view-quantity-box-block #qty {
       border: none !important;
       width: 3em !important;
       color: #0D0E0F;
       font-weight: 700;
       font-size: 1.2em;
       height: 100%;
}

input.input-text {
       border: 1px solid #929191;
       color: #646464;
}

input.qty {
       width: 2.5em !important;
       text-align: center;
}

input.input-text {
       padding: 2px;
}

.product-view-quantity-box-block a.btn-add-qty {
       padding: 0 16px 0 8px;
}

.product-view-quantity-box-block a {
       display: flex;
       display: -webkit-box;
       display: -webkit-flex;
       flex-direction: row;
       align-items: center;
       -webkit-align-items: center;
       -webkit-justify-content: center;
       justify-content: center;
       padding: 15px;
       cursor: pointer;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       user-select: none;
       height: 100%;
       transition: all 0.3s;
}


a {
       color: #646464;
}

a {
       color: #adadad;
       text-decoration: none;
       transition: all 300ms ease-in 0s;
}

a {
       color: #428bca;
       text-decoration: none;
}

a {
       background: transparent;
}

.product-collateral {
       margin-bottom: 20px;
}

.content {
       margin-top: 15px;
}

.product_view_content {
       background-color: rgba(69, 69, 69, 0.594);
       padding: 15px;
       border-radius: 8px;
}

.product_view_content-title {
       font-size: 1.45em;
       font-weight: 700;
       color: white;
}

.product_view_tab_content_ad {
       overflow: hidden;
       max-height: 600px;
}

.product_view_tab_content_additional {
       border-bottom: 1px solid #c1c1c1;
}

.data-table {
       border: none;
       box-shadow: none;
}

.data-table {
       width: 100%;
}

.data-table {

       border: 1px;

       background: transparent;
}

.data-table tbody th,
.data-table tbody td {
       font-size: 1.1em;
}

.data-table tbody th,
.data-table tbody td {
       border: none;
}

.data-table tbody th,
.data-table tbody td {
       border-bottom: 1px;
       border-right: 1px;
}

.data-table th,
.data-table td {
       padding: 4px;
}

.data-table th {
       padding: 6px 10px;
       font-weight: normal;
}

.table-label {
       display: table-cell;
       padding-left: 0 !important;
       font-weight: 600;
       line-height: 1.6;
       text-align: left;
       white-space: nowrap;
       vertical-align: baseline;
       
}

.data-table tbody th,
.data-table tbody td {
       font-size: 1.1em;
       color: white;
}

.data-table tbody th,
.data-table tbody td {
       border: none;
}

.data-table tbody th,
.data-table tbody td {
       border-bottom: 1px;
       border-right: 1px;
}

.data-table th,
.data-table td {
       padding: 4px;
}

.data-table td {
       padding: 6px 10px;
}

#product_tabs_description_contents {
       line-height: 25px;
}

#product_tabs_description_contents {
       display: block !important;
       margin-top: 20px;
}

.std {
       font-size: 13px;
}

#desc_content p,
#desc_content span,
#desc_content div {
       font-size: 1em;
}

#desc_content>p,
#desc_content>span,
#desc_content>div {
       font-size: 1.1em !important;
}

.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote {
       padding: 0;
}

.std b,
.std strong {
       font-weight: bold;
}

.std b,
.std strong {
       font-weight: normal;
}


strong {
       font-family: Arial, Helvetica, sans-serif;
}



p {
       margin: 0 0 10px;
}

td {
       display: table-cell;
       vertical-align: inherit;
}


tbody {
       display: table-row-group;
       vertical-align: middle;
       border-color: inherit;
}

th {
       display: table-cell;
       vertical-align: inherit;
       font-weight: bold;
       text-align: -internal-center;
}

tr {
       display: table-row;
       vertical-align: inherit;
       border-color: inherit;
}

table {
       width: 100%;
       border: 1px solid #d9dde3;
       margin: 10px 0;
}

table {
       border: 0;
       empty-cells: show;
       font-size: 100%;
       width: 100%;
}

table {
       border: 0;
       /* border-collapse: collapse; */
       border-spacing: 0;
       empty-cells: show;
       font-size: 100%;
}

table {
       max-width: 100%;
       background-color: transparent;
}

table {
       border-spacing: 0;
       border-collapse: collapse;
}

colgroup {
       display: table-column-group;
}


button {
       appearance: auto;
       writing-mode: horizontal-tb !important;
       text-rendering: auto;
       color: buttontext;
       letter-spacing: normal;
       word-spacing: normal;
       line-height: normal;
       text-transform: none;
       text-indent: 0px;
       text-shadow: none;
       display: inline-block;
       text-align: center;
       align-items: flex-start;
       cursor: default;
       box-sizing: border-box;
       background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
       margin: 0em;
       padding: 1px 6px;
       border-width: 2px;
       border-style: outset;
       border-color: buttonborder;
       border-image: initial;
}

input,
select,
textarea,
button {
       font-size: 12px;
       color: #545759;
       background-color: white;
       border: 1px solid #ebebeb;
       border-radius: 3px;
       padding-left: 10px;
       padding-right: 10px;
}

button {
       cursor: pointer;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -o-user-select: none;
       user-select: none;
}

input,
select,
textarea,
button {
       vertical-align: middle;
       color: #888888;
       background: #fff;
}

input,
button,
select,
textarea {
       font-family: inherit;
       font-size: inherit;
       line-height: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
       -webkit-appearance: button;
       cursor: pointer;
}

button,
select {
       text-transform: none;
}

button {
       overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
       margin: 0;
       font: inherit;
       color: inherit;
}

button {
       font-size: 12px;
       color: #545759;
       background-color: white;
       border: 1px solid #ebebeb;
       border-radius: 3px;
       padding-left: 10px;
       padding-right: 10px;
}

button {
       cursor: pointer;
       -webkit-user-drag: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -o-user-select: none;
       user-select: none;
}


button {
       vertical-align: middle;
       color: #888888;
       background: #fff;
}


textarea {
       font-family: inherit;
       font-size: inherit;
       line-height: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
       -webkit-appearance: button;
       cursor: pointer;
}

button,
select {
       text-transform: none;
}

button {
       overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
       margin: 0;
       font: inherit;
       color: inherit;
}

img {
       max-width: 100%;
}

img {
       max-width: 100%;
       height: auto;
}

img {
       border: 0;
       vertical-align: top;
}

img {
       vertical-align: middle;
}


* {
       margin: 0;
       padding: 0;
}

* {
       box-sizing: border-box;
}

* {
       -webkit-box-sizing: border-box;
       box-sizing: border-box;
}

body {
       background-color: #333;


       color: #333333;
       font-size: 13px;
       font-weight: 400;
       margin: 0px;
       padding: 0px;
       overflow-x: hidden;

}

form {
       display: inline;
}

div {
       display: block;
}